@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* footer section bg img */
.footerBg {
  background-image: url("../public/images/footerbg.png");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

/* aboutUs banner section bg img */
.AboutUsBg {
  background-image: url("../public/images/about-us-header.webp");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2% 2% 2% 35%;
}
/* ContactUsBg banner section bg img */
.ContactUsBg {
  background-image: url("../public/images/contact.webp");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2% 2% 2% 35%;
}
